@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,600;1,200&display=swap");

* {
    font-family: sans-serif;
    font-weight: normal;
    color: #696a6e;
}

body {
    background: #ffffff;
    min-width: 300px;
}

#navbar {
    min-width: 300px;
    position: fixed;
    height: 100%;
    background-color: #ffffff;
    border-right: 2px solid;
    overflow: auto;
}

#navbar header {
    color: rgb(0, 0, 0);
    font-size: 28.8px;
    font-weight: thin;
    margin: 25px;
}

#navbar ul {
    overflow: auto;
    height: 100%;
    padding: 0px;
}

#navbar ul li {
    list-style: none;
    position: relative;
    width: 100%;
    border-top: 1px solid black;
    padding: 10px 0px;
}

#navbar ul li a {
    text-decoration: none;
    display: block;
    cursor: pointer;
}

#main-doc {
    padding: 25px;
    margin-left: 300px;
}

header {
    font-size: 28.8px;
    font-weight: thin;
    color: rgb(0, 0, 0);
}

code {
    font-size: 12.8px;
    background: #f1ecec;
    padding: 10px;
    border-radius: 5px 5px 5px 5px;
    word-wrap: normal;
    word-break: normal;
    line-height: 2;
}

section {
    padding: 3%;
}

@media (max-width: 680px) {
    #navbar {
        height: 300px;
        margin: 0;
        top: 0;
        padding: 0;
        width: 100%;
        z-index: 1;
        position: absolute;
        max-height: 300px;
    }

    #main-doc {
        margin-top: 300px;
        position: relative;
        margin-left: 0;
    }

    code {
        width: 100%;
        min-width: 240px;
    }


    #navbar ul {
        border: 2px solid;
        width: 100%;
        overflow: auto;
    }

    #navbar ul li {
        padding-left: 10px;
    }

    section {
        line-height: 2;
        font-size: 12px;
    }
}